
/* 21. Contact */
.contact-form{
    .form-wrapper{
        background:#fff ;
        padding:100px 70px 100px 70px;
        box-shadow: 0px 0px 86px 0px rgba(0, 0, 0, 0.06);
        @media #{$laptop}{
            padding: 100px 82px 70px 82px;
        }
        @media #{$lg}{
            padding: 100px 82px 70px 82px;
        }
        @media #{$md}{
            padding: 100px 82px 70px 82px;
        }
        @media #{$sm}{
            padding: 100px 34px 70px 36px;
        }
        @media #{$xs}{
            padding: 100px 34px 110px 36px
        }
    //    inner shape flower
    position: relative;
    .shape-inner-flower{
        .top1{
            position: absolute;
            top: 20px;
            left: 25px;
        }
        .top2{
            position: absolute;
            top: 20px;
            right:25px;
        } 
        .top3{
            position: absolute;
            bottom:20px;
            left: 25px;
        }
        .top4{
            position: absolute;
            bottom: 20px;
            right:25px;
        }
    }
    // 
    .shape-outer-flower{
        .outer-top{
            position: absolute;
            top: -62px;
            left: -143px;
            z-index: -1;
            @include transition(.6s);
        }
        .outer-bottom{
            position: absolute;
            bottom: 2px;
            right: -133px;
            z-index: -1;
            @include transition(.6s);
        }
    }
    }
}

.bg-height{
	background-position: center center;
}
.contact {

        border: 1px solid #eaedff;
        padding: 40px 10px;
       & i {
            background: #8fb569;
            font-size: 40px;
            height: 150px;
            width: 150px;
            color: #ffffff;
            border-radius: 50%;
            line-height: 135px;
            border: 10px solid #fff;
            -webkit-box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
            box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
            margin-bottom: 30px;
        }
       & h3 {
            font-size: 26px;
            margin-bottom: 15px;
        }
        & p {
            margin: 0;
            padding: 0 50px;
      }
}
    
    .contact-area {
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .contact-form input, .contact-form select {
        background: none;
        height: 60px;
        width: 100%;
        padding: 10px 25px;
        border: 0;
        color:#000;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 1px solid #d9d9d9;
    }

    .contact-form select {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)' %3E%3Cpath d='M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E") no-repeat 97% center;
        background-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
    }

    .contact-form .nice-select {
        background: none;
        height: 60px;
        width: 100%;
        border: 0;
        color: #a3a3a3;
        font-weight: 500;
        text-transform: capitalize;
        padding-top: 10px;
        border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 1px solid #d9d9d9;
    }
    .nice-select .option {
        color: #a3a3a3;
    }
    .contact-form  .nice-select::after {
        border-bottom: 2px solid #a3a3a3;
        border-right: 2px solid #a3a3a3;
        height: 7px;
        right: 41px;
        width: 7px;
    }
    
    .contact-form textarea {
        background: none;
        font-weight: 500;
        letter-spacing: 2px;
        height: 140px;
        width: 100%;
        padding: 10px 25px;
        border: 0;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
       
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
    }
    .contact-form .nice-select.open .list {
        width: 100%;
        border-radius: 0;
    }
    .contact-form .nice-select .list {
        width: 100%;
    }
    


    .contact-form input::-moz-placeholder,
    .contact-form input::-moz-placeholder {
        color: #a3a3a3;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    
    .contact-form input::-moz-placeholder,
    .contact-form input::placeholder {
        color: #a3a3a3;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    
    .contact-form input:focus::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }

 
    

    // .contact-form:hover{
        .form-wrapper:hover{
            .shape-outer-flower{
                .outer-top{
                    top: -70px;
                }
                .outer-bottom{
                    bottom: 18px;
                }
            }
            // 
            .section-tittle.tittle-form img {
                transform: rotate(-80deg);
                position: relative;
                top: -35px;
                @include transition(.6s);
            }
        }


.submit-info {
    @media #{$sm}{
        text-align: center;
    } 
    @media #{$xs}{
        text-align: center;
    }
}



  